@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
/* Default Viewport for Mobile */
.container {
  display:grid;
    grid-template-columns: 300px 300px 300px;
    /* grid-template-rows: 20vh 600px; */
    grid-template-rows: 7em 13em 80% 7em;
    height: 100vh;
    grid-template-areas: 
    "hd hd"
    "sd sd"
    "main main"
    "ft ft";
    background: #ffaa9c;
    font-family: 'Source Code Pro', monospace;
  }
.cardBox {
  display: grid;
  padding: 20px;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: auto;
}
.card {
  background: #cc877d;
  border-radius: 2%;
}
.one{
  background-image: url('Images/omg i got it.jpg');
  background-size: contain;
}
.box {
  border: 1px solid #e6715f;
  padding: 10px;
}
.header {
  grid-area: hd;
  background-color: #9cf1ff;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
}
.footer {
  grid-area: ft;
  background-color: #9cc0ff;
  text-align: center;
}
.photoBox{
  width: 250px;
  height: 150px;
  border: 1px solid #e65d48;
  background: #ffaa9c;
}
.sidebar {
  grid-area: sd;
  background: #ffdb9c;
  text-transform: uppercase;
}
.content {
  grid-area: main;
  display: grid;
  grid-gap: 10px;
}

/* Widescreen*/
@media (min-width: 900px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
      "hd hd hd hd"
      "sd main main main"
      "ft ft ft ft";
  }
}
