.container {
  display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    height: 100vh;
    grid-template-areas: 
    "hd hd"
    "sd sd"
    "main main"
    "ft ft";
    background: #ffaa9c;
  }
.cardBox {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: auto;
}
.card {
  background: pink;
}
.box {
  border: 1px solid #e6715f;
  padding: 10px;
}
.header {
  grid-area: hd;
}
.footer {
  grid-area: ft;
}
.sidebar {
  grid-area: sd;
  background: lightgreen;
}
.content {
  grid-area: main;
  display: grid;
  /*grid-template-columns: 1fr 1fr; */
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

/* Widescreen*/
@media (min-width: 900px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    grid-template-areas:
      "hd hd hd hd"
      "sd main main main"
      "ft ft ft ft";
  }
}
